<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addpath</key>
	<string>${addpath}</string>
	<key>addURL</key>
	<string>${addURL}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>Launch Screen</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>baseURL</key>
	<string>${baseURL}</string>
	<key>path</key>
	<string>${path}</string>
</dict>
</plist>
