//
//  Production.xcconfig
//  WeatherApp
//
//  Created by rentamac on 1/29/26.
//

// Configuration settings file format documentation can be found at:
//https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


baseURL = api.open-meteo.com
path = /v1/forecast

addURL = geocoding-api.open-meteo.com
addpath = /v1/search
